<ion-header class="auth-header">
  <ion-toolbar color="primary" class="auth-toolbar">
    <ion-title class="ion-text-center">Autenticación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card class="login-card">

      <div class="img-box">
        <div class="img-frame">
          <img src="assets/img/person.png" class="login-img" alt="Usuario" />
        </div>
      </div>

      <div class="form-header">
        <h2>Bienvenido</h2>
        <p>Ingresa tus credenciales para continuar</p>
      </div>

      <form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()" class="login-form">

        <ion-item lines="none" class="custom-item">
          <ion-input
            formControlName="correo"
            label="Correo"
            labelPlacement="stacked"
            placeholder="Escribe tu correo">
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="formLogin.get('correo')?.invalid && formLogin.get('correo')?.touched">
          Correo institucional inválido
        </ion-text>

        <ion-item lines="none" class="custom-item">
          <ion-input
            formControlName="password"
            type="password"
            label="Contraseña"
            labelPlacement="stacked"
            placeholder="Escribe tu contraseña">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" shape="round" class="login-button">
          Iniciar sesión
        </ion-button>
      </form>
      
      <div class="register-container">
        <span>¿No tienes cuenta?</span>
        <a routerLink="/auth/register" class="register-link">Regístrate</a>
      </div>

   </ion-card>
  </div>
</ion-content>