.titulo-header {
  text-align: center;
  color: #ffffff;
  text-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.3),
    0px 0px 4px rgba(249, 115, 22, 0.3);
}

ion-buttons ion-icon {
  color: white;
  font-size: 24px;
}

.invisible-btn {
  visibility: hidden;
}