<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="eventos" href="/pages/tabs/eventos">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/pages/tabs/calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/pages/tabs/favorites">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/pages/tabs/notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>